<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ character.name }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>{{ character.name }} Details</h1>
      <div class="character-detail">
        <img src="{{ character.image }}" alt="{{ character.name }}" />
        <p><strong>ID:</strong> {{ character.id }}</p>

        <p><strong>Films:</strong> {{ character.films | join(', ') }}</p>
        <p><strong>TV Shows:</strong> {{ character.tvShows | join(', ') }}</p>
        <p><strong>Video Games:</strong> {{ character.videoGames | join(', ') }}</p>
        <p><strong>Park Attractions:</strong> {{ character.parkAttractions | join(', ') }}</p>
        <p><strong>Allies:</strong> {{ character.allies | join(', ') }}</p>
        <p><strong>Enemies:</strong> {{ character.enemies | join(', ') }}</p>
      </div>
      <p><a href="{{ url_for('index') }}">Back to all Characters</a></p>
    </div>
  </body>
</html>