<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Disney Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Disney Characters</h1>
      <div class="card-container">
        {% for character in characters %}
        <a href="{{ url_for('character_detail', id=character.id) }}" class="card-link">
          <div class="card">
            <img src="{{ character.image }}" alt="{{ character.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ character.name }}</h5>
              <p class="card-text">ID: {{ character.id }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>